<app-header></app-header>
<div class="container-fluid">
    <h3>View Account Details</h3>
    <div>
        <div>
            <label>Account Num. :</label> {{account.id}}
        </div>
        <div>
            <label>First Name :</label> {{account.firstName}}
        </div>
        <div>
            <label>Last Name :</label> {{account.lastName}}
        </div>
        <div>
            <label>Email Id :</label> {{account.emailId}}
        </div>
        <div>
            <label>Creation Date :</label> {{account.dateTime}}
        </div>
        <div>
            <label>Balance :</label> {{account.balance}} Rs
        </div>
    </div>
</div>
<app-footer></app-footer>