<app-header></app-header>
<div class="container">
    <div class="col-md-12">
        <h3>View Account Details</h3>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Account Num. :</label>
                <input type="text" class="form-control" value="{{account.id}}" readonly>
            </div>
            <div class="form-group col-md-4">
                <label>First Name :</label>
                <input type="text" class="form-control" value="{{account.firstName}}" readonly>
            </div>
            <div class="form-group col-md-4">
                <label>Last Name :</label>
                <input type="text" class="form-control" value="{{account.lastName}}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Email Id :</label>
                <input type="text" class="form-control" value="{{account.emailId}}" readonly>
            </div>
            <div class="form-group col-md-4">
                <label>Creation Date :</label>
                <input type="text" class="form-control" value="{{account.dateTime}}" readonly>
            </div>
            <div class="form-group col-md-4">
                <label>Balance :</label>
                <input type="text" class="form-control" readonly value="{{account.balance}} Rs">
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>
