<app-header></app-header>
<div class="container-fluid">
    <div class="col-md-12">
        <h3>Create Account:</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="account.firstName"
                        name="firstName">
                </div>
                <div class="form-group col-md-4">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="account.lastName"
                        name="lastName">
                </div>
                <div class="form-group col-md-4">
                    <label>Email Id</label>
                    <input type="text" class="form-control" id="emailId" [(ngModel)]="account.emailId" name="emailId">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Total Balance</label>
                    <input type="text" class="form-control" id="amount" [(ngModel)]="account.balance" name="amount">
                </div>
                <div class="form-group col-md-4">
                    <label>Date</label>
                    <input type="date" class="form-control" id="dateTime" [(ngModel)]="account.dateTime"
                        name="dateTime">
                </div>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>

    </div>
</div>
<app-footer></app-footer>