<app-header></app-header>
<div class="container-fluid">
    <h3>Transaction History:</h3>
    <h5 class="text-danger" *ngIf="errorMessage != ''">{{errorMessage}}</h5>
    <div class="form-row">
        <div class="form-group col-md-6" style=" display: flex; ">
            <label>From Date:</label>&nbsp;
            <input type="date" class="form-control" id="startDate" [(ngModel)]="account.startDate" name="startDate"
                style=" width: 75%; ">
        </div>
        <div class="form-group col-md-5" style=" display: flex; ">
            <label>To Date:</label>&nbsp;
            <input type="date" class="form-control" id="endDate" [(ngModel)]="account.endDate" name="endDate"
                style=" width: 75%; ">
        </div>
        <div class="form-group col-md-1">
            <button (click)="getTransactionHistory()" class="btn btn-success" style=" width: 82px; ">Go</button>
        </div>
    </div>    
    <div *ngIf="isExist">
        <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" dt-instance="dtInstance"
            class="table table-striped row-border hover">
            <thead>
                <tr>
                    <th>Date & Time</th>
                    <th>From Account Number</th>
                    <th>To Account Number</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>{{transaction.dateTime}}</td>
                    <td>{{transaction.fromAccountNum}}</td>
                    <td>{{transaction.toAccountNum}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>