<app-header></app-header>
<div class="container-fluid">
    <div class="col-md-12">
        <h3>From Customer:</h3>        
        <form (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="fromAccount.firstName"
                        name="firstName" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="fromAccount.lastName"
                        name="lastName" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Email Id</label>
                    <input type="text" class="form-control" id="emailId" [(ngModel)]="fromAccount.emailId" name="emailId"
                        readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Account Number</label>
                    <input type="text" class="form-control" id="accountNum" [(ngModel)]="fromAccount.id"
                        name="accountNum" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Balance</label>
                    <input type="text" class="form-control" id="balance" [(ngModel)]="fromAccount.balance"
                        name="balance" readonly>
                </div>

            </div>
            
            <h3>To Customer:</h3>
            <h5 class="text-danger" *ngIf="errorMessage">{{errorMessage}}</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Account Number</label>
                    <select type="text" class="form-control" id="accountNum" name="accountNum"
                        [(ngModel)]="toAccountNumber">
                        <option selected>Choose...</option>
                        <option *ngFor="let toAccount of toAccountList">
                            {{toAccount.id}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Transfer Amount</label>
                    <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="transferAmount">
                </div>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>
<app-footer></app-footer>